server:
  port: 8081
  address: 0.0.0.0

spring:
  application:
    name: industrial_software_system

  servlet:
    multipart:
      # -1 表示不限制文件大小
      max-file-size: -1
      max-request-size: -1

  datasource:
    url: jdbc:mysql://127.0.0.1:3306/industrial_software?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: 123321
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update  # 自动更新数据库表结构（生产环境建议改为 validate）
    show-sql: true  # 控制台打印 SQL 语句
    properties:
      hibernate:
        format_sql: true  # 格式化 SQL 输出
  data:
    redis:
      host: localhost
      port: 6379
      # password: "123456"
      lettuce:
        pool:
          max-active: 10
          max-idle: 10
          min-idle: 1
          time-between-eviction-runs: 10s

# MyBatis-Plus 配置
mybatis-plus:
  # 配置 mapper xml 文件路径
  mapper-locations: classpath*:com/scut/industrial_software/mapper/xml/*.xml
  # 实体扫描，多个package用逗号或者分号分隔
  type-aliases-package: com.scut.industrial_software.model.entity
  global-config:
    db-config:
      # 主键类型，若数据库表使用自增主键，可设置为 AUTO
      id-type: auto
      # 表名前缀
      table-prefix: t_
  configuration:
    # 开启驼峰命名自动映射
    map-underscore-to-camel-case: true
    # 打印 SQL 日志，可辅助调试
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

ali:
  oss:
    endpoint: oss-cn-guangzhou.aliyuncs.com
    bucket-name: your-bucket-name
    access-key-id: YOUR_ACCESS_KEY_ID
    access-key-secret: YOUR_ACCESS_KEY_SECRET

files:
  upload:
    path: E:/data/files/

# 平台证书生成的相关配置（暂不需要管）
ptc:
  license:
    # 公钥别称
    public-alias: publicCert
    # 访问公钥库的密码
    store-pass: good
    # 证书生成路径
    license-path: D:/Project/Java/license/generated
    # 公钥库存储路径
    public-keys-store-path: classpath:license/publicCerts.keystore
    # 私钥别称
    private-alias: privateCert
    # 私钥密码（需妥善保管）
    key-pass: good
    # 私钥库存储路径
    private-keys-store-path: classpath:license/privateKeys.keystore
    # 是否开启license验证服务器系统信息
    verify-system-switch: true

# 证书生成配置
license:
  store:
    key-store-path: D:\Project\Java\industrial_software\src\main\resources\keystore.p12   # 平台配置暂时不需要管
    key-store-type: PKCS12     # 平台配置暂时不需要管
    key-store-password: Ming   # 平台配置暂时不需要管
    # 第三方证书生成工具的地址
    impact-solver-store-path: E:/data/files/
    impact-treatment-store-path: E:/data/files/
    multiple-treatment-store-path: E:/data/files/
    structure-store-path: E:/data/files/

# 组件安装包存储位置
component:
  store:
    impact_preTreatment: D:/component/impact/pre-treatment/
    impact_solver_cpu: D:/Project/Java/industrial_software_extra/bin.rar
    impact_solver_gpu: D:/component/impact/solver/gpu/
    structure_preTreatment: D:/Project/Java/industrial_software_extra/PERA SIM Mechanical 2025-2025-12-16.exe
    structure_solver: D:/component/structure/solver/
    multipleBody_preTreatment: D:/component/multibody/pre-treatment/
    multipleBody_solver: D:/component/multibody/solver/
    postProcessing: D:/component/post-processing/